.card{
	width: 150px;
	height: 150px;
	border: 5px,black,solid;
	margin: 35px;
}

/* Gebruik Fira Sans als lettertype */
body {
	font-family: "Fira Sans", sans-serif;
}

/* Zet de regelafstand op 1,15 */
.navbar {
	line-height: 1.15;
}